.footer {
    /* background-color: black; */
    color: #ff6f00;
    margin: 2%;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
  }
  
  .footer-content {
    align-items: center;
    text-align: center;
  }
  
  .footer-text {
    font-size: 20px;
    margin: 2%;
  }
  .footer-contact {
    font-size: 14px;
  }
  